@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');
@import './utilities';

$primaryColor: steelblue;
$border: 1px solid black;
$size: 20px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: 'Roboto', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  min-height: 100vh;
  width: 100vw;
  // background-color: steelblue;
  @include set-background(steelblue);
}

.game-header {
  width: 475px;
  font-size: 15px;
  padding: 10px 20px;
  .top-header {
    display: flex;
    align-items: center;

    h1 {
      width: 100%;
      font-size: 50px;
      text-align: center;
    }
  }

  .score-header {
    display: flex;
  }

  .game-score {
    @include set-background(rgb(0, 81, 255));
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bot-header {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .reset-btn {
    @extend %btn;
    @include set-background($darkBlue);
  }
}

.snake-game-container {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-wrap: wrap;

  .square {
    // border: $border;
    display: flex;
    @extend %flex-center;
  }

  .square.snake {
    background-color: coral;
  }

  .fas.fa-apple-alt {
    font-size: 25px;
  }
}

.btn {
  @extend %btn;
}

.how-to-play {
  max-width: 475px;
  text-align: center;
  @include set-background(rgba($color: #000000, $alpha: 0.3));
  padding: 10px 20px;
  border-radius: 10px;
}
